body {
  background-color: white;
}

.dialogs-column {
  background-color: #272d34;
  padding: 0;
}

#nav {
  border: 1px solid black;
  height: 100%;
  max-height: 100%;
  overflow: auto;
}

.friend-list {
  margin: 0;
  padding: 0;
}

.friend-list li a .friend-name,
.friend-list li a .friend-name:hover {
  color: white;
}

.friend-list li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.11);
  padding: 15px 0;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.friend-list li:hover {
  background-color: #3f454b;
}

.friend-list li a {
  padding: 0 15px;
  font-size: 13px;
}

.wrapper {
  height: 100%;
  padding-left: 60px;
}

#main {
  border: 1px solid black;
  height: 100%;
  padding: 0;
  overflow: auto;
  background-color: #eff4f7;
}

.services {
  width: 60px;
  float: left;
  height: 100%;
}

.services__list {
  padding: 0;
  background-color: #1d232a;
  margin-bottom: 0;
  height: 100%;
  color: #fff;
}

.services__list li {
  list-style: none;
  padding: 0;
  height: 60px;
  text-align: center;
  padding: 15px 10px;
}

.chat {
  padding-bottom: 90px;
}

.chat-img img {
  width: 35px;
  height: 35px;
}

.chat li {
  padding: 0 20px 5px;
}

.friend-list li a .chat-alert {
  display: none;
}

.friend-list li.active a .chat-alert {
  border-radius: 7px;
  padding: 5px 5px;
  display: block;
}

.friend-list li.active a {
  background-color: transparent;
}

.friend-list li a .time {
  position: absolute;
  top: 3px;
  right: 8px;
  font-size: 10px;
}

#msgbox {
  height: 80px;
}

#main .mCSB_scrollTools .mCSB_buttonDown,
#main .mCSB_scrollTools .mCSB_buttonLeft,
#main .mCSB_scrollTools .mCSB_buttonRight,
#main .mCSB_scrollTools .mCSB_buttonUp {
  display: none;
}

#main .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
}

#main .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #272d34;
}

#main .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover {
  background-color: #272d34;
}

#main .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
#main .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background-color: #272d34;
}

.mCSB_inside > .mCSB_container {
  margin-right: 0;
  left: 0!important;
}

.chat-column {
  padding: 0;
}

.btn-circle {
  border-radius: 50%;
  outline: none;
}

.friend-list a .tiny-photo {
  width: 25px;
  height: 25px;
  margin-top: 5px;
}

.friend-list li a .last-message {
  margin-top: 8px;
}

.service-id {
  position: absolute;
  font-weight: bold;
  font-size: 11px;
  left: 5px;
  top: 5px;
  background-color: #00d6b2;
  border-radius: 8px;
  color: #fff;
  padding: 1px 5px;
}

.service-id.vk {
  background-color: #3F51B5;
}

.service-id.mailru {
  background-color: #FF5722;
}

.chat li {
  border-bottom: none;
}

.chat li.left .chat-body {
  margin-left: 15px;
  background-color: white;
  min-width: 45%;
  max-width: 70%;
  width: auto;
  padding: 5px 10px;
  border-radius: 4px;
  float: left;
}

.chat li.left .chat-body img {
  max-width: 100%;
}

.chat li.left.my .chat-body,
.chat li.left.my .chat-img {
  float: right !important;
}

.chat li.left.my .chat-body {
  margin-right: 15px;
}

.attachments-wrapper {
  list-style: none;
}

.msg-time {
  font-size: 10px;
}

.msgbox-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 0;
  padding-left: 41px;
}

#msgbox {
  position: static;
  width: 100%;
  z-index: 9999;
  padding-top: 29px;
  padding-right: 45px;
}

.send-message-btn {
  background-color: #616d7a;
  width: 38px;
  height: 38px;
  padding: 8px 6px 11px 12px;
  border-radius: 50%;
  border: none;
  outline: none;
  transition: all .2s;
  position: absolute;
  z-index: 10000;
  right: 15px;
  top: 21px;
}

.send-message-btn:hover {
  background-color: #2b80ff;
}

.send-message-btn img {
  width: 100%;
}